/* default.css */

*{
    margin: 0 auto;
    padding: 0;
}

.title{
    text-align: center;
    padding: 30px;
    background-color: aliceblue;
}
.menuWrap{
    margin:0 auto;
    background:#222845;
    color:#eaeaea;
    z-index: 100;
}
.menu{
    display:inline-block;
    padding: 15px 122px;
    position:relative;
}
.menu:hover{
    background:#eaeaea;
    color:#222845;
    cursor:pointer;
}

.siteDetail h2{
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    padding: 15px;
    color: pink;
}

.siteDetail h4{
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    padding: 10px;
    color: navy;
}
.siteDetail img{
    position: relative;
    left: 250px;
    top:20px;
    width: 800px;
    height: 500px;
}

.siteUse .button{
    padding-top: 50px;
    width: 180px;
    height: 50px;
}
.siteUse .button .freeSign:hover{
    cursor:pointer;
    background: navy;
    color: white;
}
.siteUse .button .devTool:hover{
    cursor:pointer;
    background: navy;
    color: white;
}
.siteUse .button .freeSign{
    text-align: center;
    margin-bottom: 10px;
    background-color: rgba(88, 182, 189, 0.342);
    box-shadow: 2px 2px 2px darkblue;
    border-radius: 5px;
}
.siteUse .button .devTool{
    text-align: center;
    background-color: rgba(88, 182, 189, 0.342);
    box-shadow: 2px 2px 2px darkblue;
    border-radius: 5px;
}


.card{
    width: 100%;
    height: 650px;
    margin-top: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}
.build:hover{
    cursor: pointer;
}
.build{
    width: 330px;
    border:3.5px solid rgb(106, 114, 230);;
    text-align: center;
    padding: 15px 0;
    position: relative;
}
.build img{
    height: 200px;
    transform: scale(1);
    transition: transform 3s ease;
}
.build h3{
    position: absolute;
    width: 150px;
    top: 220px;
    left: 95px;
    background: rgb(106, 114, 230);
    line-height: 30px;
    border-radius: 15px;
    color:white;
    z-index: 100;

}
.build:hover img{
    transform: scale(1.12);
}

.learn:hover img{
    transform: scale(1.12);
}
.learn:hover{
    cursor: pointer;
}
.learn{
    width: 330px;
    margin-top: 80px;
    border:3.5px solid rgb(106, 114, 230);
    text-align: center;
    padding: 15px 0;
    position: relative;

}
 .learn img{
    height: 200px;
    transform: scale(1);
    transition: transform 3s ease;

}
.learn h3{
    width: 150px;
    position: absolute;
    top: 220px;
    left: 95px;
    background: rgb(106, 114, 230);;
    line-height: 30px;
    border-radius: 15px;
    color:white;
    z-index: 100;

}
#footer{
    width: 100%;
    padding: 30px;
    background: #222845;
    color: #eaeaea;
}